*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }
   @media screen and (max-width: 470px){
    .header{
        position: sticky;
        top: 1%;
        margin: 10px;
    }
    .header a{
        color: #be302c;
    }
    .main{
        margin-top: 20%;
        margin-bottom: 50%;
    }
    .main h1{
       margin: 10%;
    }
  
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10%;
        
    }
    .cell{
        width: 112px;
        padding: 20px;
        color: grey;
        display: flex;
       align-items: center;
       justify-content: space-around;
    }
    .btn{
        position: fixed;
        bottom: 12%;
        background-color: #be302c;
        padding: 20px;
        font-weight:800;
        text-align: center;
        
      }
    button{
        background: transparent;
        border: none;
        color: white;
    }
    
    .footer button{
        border: none;
        background: transparent;
        color: white;
    }
    .footer{
        bottom: 0%;
        width: 100%;
        position: fixed;
        color: grey;
    }
    footer{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
        padding: 20px;
        background: white;
    }
    .footbtn{
        display: flex;
        flex-direction: column;
        bottom: 2px;
        align-items: center;
        gap: 0.5rem;
    }
    footer a{
        color: grey;
        text-decoration: none;
    }
    a:link {
        color: #be302c;
      }
    
}