*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }
   @media screen and (max-width: 430px){
       body{
           overflow: hidden;
       }
    .header{
        position: sticky;
        top: 1%;
        margin: 10px;
    }
    .header a{
        color: #be302c;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 1.5rem;
        min-height: 80vh
    }
    .main a{
        color: #be302c;
        text-align: center;
    }
    form{

        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    .form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .form div{
        display: flex;
        gap: 0.5rem;
        
    }
    input{
        border: none;
        border-bottom: 2px solid grey;
    }
    .btn{
        margin-top: 20px;
        background-color: #be302c;
        color: white;
        padding: 10px;
   font-weight:800;
   text-align: center;
   width: 100%;
    }
    button{
        background-color: transparent;
           border: none;
           color: white;
           font-size: 15px;
       }
       .footer{
        bottom: 0%;
        width: 100%;
        position: sticky;
        color: grey;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: white;
    }
    .footbtn{
        display: flex;
        flex-direction: column;
        bottom: 2px;
        align-items: center;
        gap: 0.5rem;
    }
    footer a{
        color: grey;
        text-decoration: none;
    }
    a:link {
        color: #be302c;
      }
      
}