*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }

   
   @media screen and (max-width: 430px){
 
    .header{
        top: 0%;
        width: 100%;
        position: sticky;
        background-color: #be302c;
        padding: 15px;
    }
    .header h1{
        color: white;
       margin-left: 10px;
    }

    .logo img{
        max-width: 40px;
        border-radius: 50%
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .main{
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        min-height: 80vh
    }
    .main a{
        color: white;
        text-decoration: none;
    }  
    .footer{
      
        bottom: 2px;
        width: 100%;
        position: sticky;
        color: grey;
    }
    footer{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
        padding: 20px;
        background: white;
    }
    
    .footbtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    a{
        color: grey;
        text-decoration: none;
    }
    a:link {
        color: #be302c;
      }
      .btn{
        margin: 10px 0px;
        background-color: #be302c;
        padding: 20px;
        font-weight:800;
        text-align: center;
        
      }
      
      hr{
        bottom: 2px;
        margin-left: 28%;
        position: sticky;
        width: 10rem;
        height: 2px;
      }
}