*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }

   body{
       overflow: hidden;
   }

   .header{
    top: 0%;
    width: 100%;
    position: sticky;
    background-color: #be302c;
    padding: 15px;
}

.header h1{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

.logo img{
    max-width: 50px;
    border-radius: 50%
}
.logo{
    display: flex;
    align-items: center;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* main css */

.main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    min-height: 80vh
}
.main a{
    color: white;
    text-decoration: none;
}
/* footer css */

.footer{
    bottom: 1px;
    width: 100%;
    position: sticky;
    color: grey;
    background-color:  rgb(223, 215, 215);;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.btn{
    display: flex;
    cursor: pointer;
    flex-direction: column;     
    align-items: center;
    background-color: #be302c ;
    margin: 10px;
    padding: 15px;
}
.footbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}
footer a{
    color: grey;
    text-decoration: none;
}

   
   
   @media screen and (max-width: 470px){
    .header h1{
        font-size: 15px;
       }
    footer{
        padding: 20px;
    }
}

@media screen and (min-width: 540px) and (max-width: 800px){
    body{
        overflow: scroll;
    }
    
    .main p{
        color: black;
    }
}



@media screen and (min-width: 915px) and (max-width: 1270px){
   body{
       overflow: scroll;
   }
}
