*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }
   .header{
    position: sticky;
    top: 1%;
    margin: 10px;
}
.header a{
    color: #be302c;
}

/* main */
.main{
    display: flex;
    flex-direction: column;
    margin: 20px 20%;
}
.main h1{
    font-size: 40px;
}
.main a{
    margin-top: 10px;
    color: #be302c;
    text-align: center;
}
form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
 margin-bottom: 3%;
    border: none;
    border-bottom: 2px solid grey;
}
.terms{
    margin-top: 20px;
    display: flex;
    justify-content: center;
   gap: 0.5rem;
    align-items: baseline;
  
}
.terms span{
 margin-left: 10px;
}
.btn{
    margin: 20px;
    position: sticky;
    background-color: #be302c;
    color: white;
    padding: 10px;
font-weight:800;
text-align: center;
width: 100%;
}
button{
 background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
}
hr{
 margin-left: 30% !important;
  position: fixed;
  bottom: 4px;
  height: 2px;
}
@media (max-width: 780px){
    body{
        overflow: scroll;
    }
    .header{
        position: sticky;
        top: 1%;
        margin: 10px;
    }
    .header a{
        color: #be302c;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin: 20px;
       
    }
    .main h1{
        font-size: 25px;
    }
    .main a{
        color: #be302c;
        text-align: center;
    }
    form{
        margin: 60px 20px;
    }
    input{
        padding: 10px;
        margin-bottom: 10%;
        border: none;
        border-bottom: 2px solid grey;
    }
    .btn{
        left: 0;
        bottom: 0px;
        width: 100%;
    }
    
    
}

@media (max-width: 1024px){
    input{
        padding: 10px;
    }
}
   
   
