* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

/* Navbar section */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(./header.png);
  background-position: center;
  background-size: cover;
}

nav {
  background-color: #442d83;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0% 5%;
}

.nav-link {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav img {
  width: 90px;
}

.button {
  border: 1px solid orange;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: inherit;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Carousal styling */

.Hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  justify-content: space-between;
  margin: 20% 10%;
}

.Hero p {
  color: #c5c0c0;
}
.Hero h1 {
  font-size: 36px;
}

.learn {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
}

.learn a {
  color: white;
  text-decoration: none;
}

.LearnMore {
  background-color: #442d83;
  padding: 10px;
}

.See {
  padding: 10px;
}

/* About section */
.About {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(43, 43, 104);
  padding: 30px;
  justify-content: space-around;
  gap: 0.9rem;
}

.about1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.about2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.about3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.abouthead {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.aboutfoot {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.abouthead h5 {
  color: rgb(235, 189, 104);
}
.abouthead span {
  color: white;
}

.aboutfoot h5 {
  color: rgb(235, 189, 104);
}
.aboutfoot span {
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(43, 43, 104);
  padding: 10px 18px;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 15px;
}

.btn1 {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 18px;
  font-size: 15px;
}
/* Footer section */

.Footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #442d83;
  padding: 30px;
  color: white;
  font-size: 10px;
  justify-content: space-between;
  gap: 1.9rem;
}

.footericon {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.Footer a {
  text-decoration: none;
}
.Footer li {
  list-style-type: none;
}

.footerbtn {
  border: 1px solid white;
  border-radius: 18px;
  background-color: transparent;
  color: white;
  padding: 10px;
}
/* media queries */

/* Laptop screen */
@media (max-width: 1038px) {
  .header {
    height: 700px;
  }
  .navbar {
    font-size: 12px;
  }
}

/* Tablet screen */
@media (max-width: 870px) {
  .header {
    height: 600px;
  }
  .navbar {
    font-size: 8px;
  }
}
@media (max-width: 435px) {
  .header {
    height: 400px;
    font-size: 10px;
  }
  .Hero h1 {
    font-size: 20px;
  }
  .About {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    font-size: 16px;
  }
  .About img {
    width: 90px;
  }
  .nav-link {
    display: none;
  }
}
