*{
    padding: 0;
    margin: 0;
}

/* Navbar section */
.header{
    height: 700px;
    width: 100%;
    background-image: url(./images/carousal.jpg);
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
   
    background-color: white;
}

.navbar{
    display :flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5%;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

nav img{
    width: 90px;
}

nav a {
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: red;
}


  /* Carousel section */

  .Carousel{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
     color: white;
     justify-content: space-between;
     margin: 16% 10%;

  }

  

  .Carousel h1{
      font-size: 36px;
  }

  .Carousel a{
      margin-top: 20px;
      text-decoration: none;
      color: white;
      padding: 10px;
      width: fit-content;
      background-color: red;
  }

  .Carousel a span{
      padding: 10px;
  }

  .red{
      color: red;
  }

  @media (max-width : 700px){
      .Carousel h1{
          font-size: 20px;
      }
      .Carousel{
          font-size: 10px;
      }
  }
/* About us section */

  .about{
    display: flex; 
     flex-wrap: wrap;
      gap: 1.9rem;
      padding: 6% 6%;
     color: black;
     justify-content: space-between;
     align-items: center;

  }

  .side{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .side h1{
      border-bottom: 2px solid red;
      left: 25px;
  }
  
  .about a{
      text-decoration: none;
      color: white;
      padding: 20px;
      width: 7rem;
      background-color: red;
  }



  /* services section */
  .services{
      padding: 6% 6%;
      background-color: #221f25;
      color: white;
      display: flex;
      gap: 0.9rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .third-layer{
      color: grey;
  }

 .card{
     margin-top: 20px;
     display: flex;
     padding: 20px;
     gap: 4.9rem;
 }

  .container {
    padding: 20px;
    box-shadow: 0 0px 8px 0 white;
  }

  .container p {
      margin-top: 20px;
      margin-bottom: 10px;
  }

  /* Contact-us section */

  .contact{
    display: flex;
    flex-direction: column;
    /* width: 1920px;
    height: 920px; */
    padding: 150px;
    background-image: url('./images/contact.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    color: white;
    gap: 0.5rem;
    align-items: center;
  }


  .contact a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 7rem;
    background-color: red;
  }
  /* footer section */
  .Footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
      padding: 20px;
      color: black;
  }

  .footer1 img{
      width: 20%;
  }

  .footer1{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }

  
  .footer2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }